Repository isaaclins/isaaclins.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontmatter, check-image-paths, no-draft-in-main

check-frontmatter:
  name: Validate Hugo frontmatter
  entry: python3 scripts/validate-frontmatter.py
  language: python
  pass_filenames: true

check-image-paths:
  name: Check image paths exist
  entry: python3 scripts/check-image-paths.py
  language: python
  pass_filenames: true

no-draft-in-main:
  name: Warn about draft posts
  entry: python3 scripts/check-draft-status.py
  language: python
  pass_filenames: true

fix: use --root-dir instead of --base for lychee link checker
  .github/workflows/build-test.yml
Due: none

fix: use absolute path for lychee and rename to .lycheeignore
  .github/workflows/build-test.yml
  .lycheeignore
Due: none

fix: exclude bot-blocking sites and own domain from link check
  .lycheeignore
Due: none

fix: skip spell check for draft files
  .github/workflows/build-test.yml
Due: none

feat: make spell check non-blocking, output issues to job summary
  .github/workflows/build-test.yml
Due: none

docs: Update Lighthouse accessibility report
  README.md
Due: none

feat: Enhance 404 page with user guidance and structured data
  layouts/404.html
Due: none

feat: Add robots.txt to manage search engine crawler access and block unwanted bots
  layouts/robots.txt
Due: none

feat: Add structured data for all content, performance and security headers, and web app manifest
  layouts/_default/index.json
  static/_headers
  static/site.webmanifest
Due: none

chore: Add trailing newlines to JSON, headers, and web manifest files for consistency
  layouts/_default/index.json
  static/_headers
  static/site.webmanifest
Due: none

Update link for 'Websites & Opinion'
  content/_index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

feat: Add resume page and layout, update contact information, and enable unsafe markup rendering
  config.toml
  content/_index.md
  content/resume.md
  content/resume/index.md
  layouts/resume/baseof.html
  layouts/resume/single.html
Due: check-frontmatter, check-image-paths, no-draft-in-main

refactor: Revamp resume layout with new components for experience, skills, projects, and education; enhance link styling for better visibility
  content/resume/index.md
  layouts/resume/single.html
  layouts/shortcodes/experience.html
  layouts/shortcodes/highlight.html
  layouts/shortcodes/project-row.html
  layouts/shortcodes/project.html
  layouts/shortcodes/projects.html
  layouts/shortcodes/section-title.html
  layouts/shortcodes/skill-category.html
  layouts/shortcodes/skill-row.html
  layouts/shortcodes/skills.html
Due: check-frontmatter, check-image-paths, no-draft-in-main

Remove old resume.md to fix conflict with resume/index.md
  content/resume.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

fix: Add explicit type to resume page for correct layout lookup
  content/resume/index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

chore: Update resume experience and education sections with new roles and dates
  content/resume/index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

Update resume projects: PowerUserMail and Psst
  content/resume/index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

chore: Update footer copyright year to 2026
  layouts/footer.md
Due: none

style: Center align Mermaid diagrams and remove unused styles in blog posts
  assets/css/main.scss
  content/blog/ai-models-for-your-toaster.md
  content/blog/cloudflare-nov-18-2025-outage.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

style: Remove unused styles from diagrams in blog posts
  content/blog/cloudflare-outage-postmortem.md
  content/blog/google-took-down-the-internet.md
  content/how/how-bluetooth-works.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

feat: Add toast notification for post-printing feedback
  layouts/resume/single.html
Due: none

fix: Correct date format for Automation Engineer experience
  content/resume/index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

fix: Update description and highlight title for clarity in resume
  content/resume/index.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

fix: Update print dialog instruction from "DF" to "Save"
  layouts/resume/single.html
Due: none

feat: Add Cambridge C2 certificate PDF to resume
  content/resume/certificates/cambridge-C2.pdf
Due: none

fix: Update company names and enhance experience descriptions in resume
  content/resume/index.md
  layouts/shortcodes/experience.html
Due: check-frontmatter, check-image-paths, no-draft-in-main

feat: Add skill tags and experience section styles to enhance resume layout
  assets/css/main.scss
  content/blog/_TEMPLATE.md
Due: check-image-paths

chore: renamed for better SEO
  content/blog/ai-deep-dive-explained.md
  content/blog/functional-programming-java-explained.md
  content/blog/ghostty-fish-perfect-combination.md
  content/blog/macos-journey-with-m3-macbook-pro.md
  content/blog/model-context-protocol.md
Due: check-frontmatter, check-image-paths, no-draft-in-main

Path conditions:
  check-frontmatter: any of: ^content/.*\.md$, but not: ^content/blog/_TEMPLATE\.md$
  check-image-paths: any of: ^content/.*\.md$
  no-draft-in-main: any of: ^content/.*\.md$, but not: ^content/blog/_TEMPLATE\.md$
